<ion-view view-title="业务通道">
  <ion-content>

      <div class="row" style="height: 200px;font-size: larger">
        <div class="col col-50  positive-bg light" >
          <div>云下载</div>
          <i class="icon ion-ionic"></i>
        </div>
        <div class="col col-25  assertive-bg light" >
          <div >软件分发</div>
          <i class="icon ion-usb"></i>
        </div>
        <div class="col col-25  calm-bg light">
          <div >导航收量</div>
          <i class="icon ion-shuffle"></i>
        </div>
      </div>
      <div class="row" style="height: 200px;font-size: larger">
        <div class="col  calm-bg light">
          <div>网站换量</div>
          <i class="icon ion-share"></i>
        </div>
        <div class="col light-bg balanced" >
          <i class="icon ion-person"></i>
          <div>我的业务</div>
        </div>
      </div>
      <div class="row" style="height: 200px;font-size: larger">
        <div class="col  balanced-bg light">
          <div>业务1</div>
          <i class="icon ion-xbox"></i>

        </div>
        <div class="col energized-bg light">
          <div>业务2</div>
          <i class="icon ion-playstation"></i>
        </div>
        <div class="col  royal-bg light">
          <div>业务3</div>
          <i class="icon ion-steam"></i>
        </div>
      </div>

  </ion-content>
</ion-view>

